* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.claculator {
  height: 700px;
  width: 450px;
  background-color: #1a1a1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
}
.display {
  height: 15%;
  width: 100%;
}
.btn {
  border: 0px;
  outline: 0px;
  height: 85px;
  width: 85px;
  font-size: 40px;
  cursor: pointer;
  box-shadow: 1px 1px 10px 1px black;
  border-radius: 20px;
  font-size: 40px;
  font-weight: 600;
  color: white;
  background-color: #4e4e50;
}
.btn:hover {
  background-color: #4e4e50c8;
}
.sub {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.display input {
  height: 100%;
  width: 100%;
  outline: 0px;
  border: 0px;
  color: #c3083f;
  background-color: transparent;
  font-size: 70px;
  font-weight: 700;
}
.color {
  background-color: #9f9fa1;
}
.color:hover {
  background-color: #9f9fa1c8;
}
.same-color {
  background-color: #c3083f;
}
.same-color:hover {
  background-color: #c30840c5;
}
.equal {
  width: 200px;
}
